.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #f8ebe9;
  font-family: sans-serif;
}
.site-content {
  display: flex;
  width: 70%;
  height: 85vh;
  background-color: white;
}
.box-img {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 35%;
  height: 100%;
}
.box-img-text {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.box-img-text h1 {
  font-size: 16px;
  color: #888;
}
.box-ul {
  position: relative;
  left: 250px;
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 16px;
}
.box-ul a {
  margin-right: 20px;
  text-decoration: none;
  list-style: none;
  color: #888;
}
.box-item {
  margin-left: 100px;
  margin-top: 100px;
  width: 400px;
}
.box-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/preview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 100px;
}
.box-item-img-container {
  margin-right: 20px;
}
.box-item-img .img {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.box-item h1 {
  font-size: 40px;
}
.box-item p {
  font-size: 18px;
}
.box-item-img-text {
  display: flex;
  align-items: center;
}
.link{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 10px;
    color: #000;
}
.box-item-text{
    font-weight: 500;
    margin-bottom: 30px;
    text-align: start;
    color: rgb(37, 36, 36);
}